/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

.dash-header {
    background-color: yellow;
    border: 1px solid white;
    height: auto;
    width: 100%;
    max-width: 100%;
}

.dash-footer {
    background-color: cyan;
    border: 1px solid white;
    height: auto;
    width: 100%;
    max-width: 100%;
}

.dash-center {
    max-width: 100%;
}

.dash-left {
    height: auto;
    width: auto;
    max-width: 100%;
}

.dash-main {
    /* background-color: lightgray; */
    /* background-color: blue;
    border: 1px solid white; */
    height: auto;
    width: auto;
    max-width: 100%;
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .dash-header {
        height: 50px;
        resize: both;
        overflow: auto;
    }
    
    .dash-footer {
        height: 100px;
        resize: both;
        overflow: auto;
    }
    
    .dash-left {
        resize: both;
        overflow: auto;
        float: left;
    }
    
    .dash-main {
        resize: both;
        overflow: auto;
        float: left;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

}