<div class="card bg-secondary" id="footer">
  <div class="card-header" data-toggle="collapse" href="#card-body-collapse">
    Recent tasks:
    <button class="btn btn-sm btn-danger" (click)="disableTasks()" *ngIf="isTasksEnabled()"><i class="fa fa-trash"></i> Disable Tasks</button>
    <button class="btn btn-sm btn-success" (click)="enableTasks()" *ngIf="!isTasksEnabled()"><i class="fa fa-power-off"></i> Enable Tasks</button>
  </div>
  <div class="card-body bg-secondary" id="card-body-collapse">
    <table>
      <tr>
        <th>Id</th>
        <th>Task</th>
        <th>Timestamp</th>
        <th>Username</th>
      </tr>
        <tr *ngFor="let task of tasks" class="tr-{{ task.id%2 }}">
          <td>{{ task.id }}</td>
          <td>{{ task.text }}</td>
          <td>{{ task.timestamp }}</td>
          <td>{{ task.username }}</td>
        </tr>
    </table>

  </div>
</div>
