
<div class="modal fade" id="modalVmCreateForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">New Virtual Machine</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body mx-3">

        <form (ngSubmit)="onSubmit(newVmForm)" #newVmForm="ngForm">
          <label>Name:</label>
          <input type="text" name="name" id="vm-name" class="form-control" [(ngModel)]="vm.name" required>
          <label>CPUs: (Default: 1 cpu)</label>
          <input type="number" name="cpu-count" id="vm-cpu" class="form-control" [(ngModel)]="vm.cpu_count">
          <label>Memory MB: (Default: 1024 MB )</label>
          <input type="number" name="memory-MB" id="vm-mem" class="form-control" [(ngModel)]="vm.memory_MB">
          <div class="form-group">
            <label for="guestOS-select">Guest OS:</label>
            <select id="guestOS-select" name="guest_OS" id="vm-guestos" class="form-control" [(ngModel)]="vm.guest_OS" required>
              <option value="UBUNTU_64">Ubuntu 64 bits</option>
              <option value="WINDOWS_9">Windows 10</option>
            </select>
          </div>
          <div class="form-group">
            <div class="form-group">
              <label for="datastore-select">Datastore:</label>
              <select id="datastore-select" name="placement.datastore" id="vm-datastore" class="form-control" [(ngModel)]="vm.datastore" required>
                <option *ngFor="let datastore of datastores" value="{{ datastore.datastore}}">{{ datastore.name }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="folder-select">Folder:</label>
              <select id="folder-select" name="placement.folder" id="vm-folder" class="form-control" [(ngModel)]="vm.folder" required>
                <option *ngFor="let folder of folders" value="{{ folder.folder}}">{{ folder.name }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="resource-pool-select">Resource Pool:</label>
              <select id="resource-pool-select" name="placement.resource_pool" id="vm-resource-pool" class="form-control" [(ngModel)]="vm.resource_pool" required>
                <option *ngFor="let resourcePool of resourcePools" value="{{ resourcePool.resource_pool}}">{{ resourcePool.name }}</option>
              </select>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Create VM</button>
          </div>
        </form>

      </div>

    </div>

  </div>

</div>


<div class="text-center">
    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalVmCreateForm">Create new Virtual Machine</a>
</div>
                