/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */
.form-button {
    margin: 0 auto;
    width: 100%;
}

.form-login {
    border-radius: 5px;
    box-shadow: 10px 12px 4px -1px rgba(0, 0, 0, 0.2), 10px 14px 5px 0px rgba(0, 0, 0, 0.14), 10px 11px 10px 0px rgba(0, 0, 0, 0.12);
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.form-group {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

h2 {
    padding-top: 10px;
    text-align: center;
}

img {
    height: 100px;
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .form-login {
        margin-top: 50px;
        width: 300px;
    }

    .form-group {
        margin: 0 auto;
        padding: 10px;
        width: 300px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }



