/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */
button {
    margin: 10px 0;
    width: 100%;
}

.library-info {
    margin: 20px 0;
    text-align: center;
}

.library-name {
    color: #fff;
    text-align: center;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    button {
        margin: 10px 0;
        width: auto;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

}