/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */
button {
    margin: 10px 0;
    width: 100%;
}

.os-icon {
    height: 100%;
    width: 100%;
}

.vm-info {
    margin: 20px 0;
    text-align: center;
}

.vm-name {
    color: #fff;
    text-align: center;
}

.vm-panel {
    margin: 0;
}

.vm-console {
    /* background-color: #222; */
    display: none;
}

.vm-data-key {
    text-align: center;
    color: #aaa;
    padding: 5px;
}

.vm-data-value {
    text-align: center;
    color: #333;
    padding: 5px;
}

.vm-actions {
    text-align: center;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .vm-console {
        display: block;
        height: 200px;
        width: 240px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    button {
        margin: 10px 0;
        width: auto;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

}