<div class="container-fluid">

    <div class="vm-info card" *ngIf="vm">

        <div class="row card-header">
            <div class="col-12 vm-name">
                <h5 id="vm-name">{{ vm.name }}</h5>
            </div>
        </div>


        <div class="row card-body bg-secondary vm-panel">
            <div class="col-sm-4 col-md-4 vm-console">
                <!-- CONSOLE LINK HERE -->
            </div>
            <div class="col-12 col-sm-8 col-md-8 vm-data">
                <div class="row">
                    <div class="col-12 col-6-sm col-md-6 vm-data-key">Status</div>
                    <div class="col-12 col-6-sm col-md-6 vm-data-value">{{ vm.power_state }}</div>
                </div>
                <div class="row">
                    <div class="col-12 col-6-sm col-md-6 vm-data-key">Cpu</div>
                    <div class="col-12 col-6-sm col-md-6 vm-data-value">{{ vm.cpu.count }}</div>
                </div>            
                <div class="row">
                    <div class="col-12 col-6-sm col-md-6 vm-data-key">Ram (MB)</div>
                    <div class="col-12 col-6-sm col-md-6 vm-data-value">{{ vm.memory.size_MiB }}</div>
                </div>            
                <div class="row">
                    <div class="col-12 col-6-sm col-md-6 vm-data-key">Guest OS</div>
                    <div class="col-12 col-6-sm col-md-6 vm-data-value">{{ vm.guest_OS }}</div>
                </div>
                <div class="row" *ngFor="let nic of vm.nics">
                    <div class="col-12 col-6-sm col-md-6 vm-data-key">{{ nic.value.label }}</div>
                    <div class="col-12 col-6-sm col-md-6 vm-data-value">{{ nic.value.mac_address }}</div>
                </div>
            </div>
        </div> 

        

        <div class="row card-footer">
            <div class="vm-actions col-12">
                <button type="button" class="btn btn-outline-success" [disabled]="isPoweredOn()" (click)="onClickPowerOn()">Power On</button>
                <button type="button" class="btn btn-outline-danger" [disabled]="!isPoweredOn()" (click)="onClickPowerOff()">Power Off</button>
                <button type="button" class="btn btn-outline-warning" [disabled]="!isPoweredOn()" (click)="onClickPowerReset()">Reset</button>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
                    Open Modal
                </button>
                <button class="btn btn-outline-light" onClick="window.open('http://www.marca.com');"><span class="icon">Marca.com</span></button>      
            </div>
        </div>

    </div>

<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
