/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

button {
    width: 100%;
    /* background-color: #ed1c24; */
}

li {
    margin: 0 auto;
    width: 100%;
}

.panel-collapse {
    width: 100%;
}

.panel-default {
    width: 100%;
}

.panel-group {
    width: 100%;
}

.panel-heading {
    margin: 10px;
}

.panel-title {
    width: 100%;
}

ul {
    padding: 0;
    list-style-type: none;
    width: 100%;
}

.vm-container {
    margin: 0 auto;
    width: auto;
}

.vm-link {
    width: 100%
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  

}