<!-- <div class="container-fluid"> -->
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse-host">
                      <button class="btn btn-outline-light" (click)="onClickHosts()">Hosts</button>
                    </a>
                </h4>
            </div>
            <div id="collapse-host" class="panel-collapse collapse">
                <ul class="list-group">
                    <li *ngFor="let host of hosts">
                      <div class="row">
                        <div class="col-12 vm-link">
                          <a [routerLink]="['host', host.host]">
                            <button class="btn btn-outline-secondary"><img src="/assets/img/icons/vm/vm-256.png"/>{{ host.name }}</button>
                          </a> 
                        </div>
                      </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<!-- </div> -->

<!-- <div class="container-fluid"> -->
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse-vm">
                      <button class="btn btn-outline-light" (click)="onClickVms()">Virtual Machines</button>
                    </a>
                </h4>
            </div>
            <div id="collapse-vm" class="panel-collapse collapse">
                <ul class="list-group">
                    <li *ngFor="let vm of vms">
                      <div class="row">
                        <div class="col-12 vm-link">
                          <a [routerLink]="['vm', vm.vm]">
                            <button class="btn btn-outline-secondary"><img class="{{ vm.power_state }}" src="/assets/img/icons/vm/vm-256.png"/>{{ vm.name }}</button>
                          </a> 
                        </div>
                      </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<!-- </div> -->





​​​
<!-- 

cpu_count: 1
​​​
memory_size_MiB: 512
​​​
name: "xiaomi01vm"
​​​
power_state: "POWERED_OFF"
​​​
vm: "vm-18" 

-->