<h5>HOSTS</h5>
<ul>
  <li *ngFor="let host of hosts">
    <div class="vm-container">
      <div class="host-icon">
          <img class="{{ host.power_state }}"/>
      </div>
      <div class="host-link">
          <a [routerLink]="['host', host.host]">{{ host.name }}</a> 
      </div>
    </div>
  </li> 
</ul>

<h5>VMS</h5>
<ul>
  <li *ngFor="let vm of vms">
    <div class="vm-container">
      <div class="vm-icon">
          <img class="{{ vm.power_state }}"/>
      </div>
      <div class="vm-link">
          <a [routerLink]="['vm', vm.vm]">{{ vm.name }}</a> 
      </div>
    </div>
  </li> 
</ul>





​​​
<!-- 

cpu_count: 1
​​​
memory_size_MiB: 512
​​​
name: "xiaomi01vm"
​​​
power_state: "POWERED_OFF"
​​​
vm: "vm-18" 

-->